/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 1s;    
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin-bottom: 0;    
}

header svg {
    width: 100%;
    max-width: 96px;
    height: auto;
    vertical-align: middle;
    display: block;
    transition: all 1s ease;
    transform: translateY(0);
}

/* header.hide {
    transform: translateY(-100px);
}

header.locked {
    transform: translateY(0px);
} */

.flex-item {
    flex: 1 1 auto;
    width: 20%;
    max-width: 96px;
    min-width: 0;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.progress_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.progress_div > div {
    display: flex;
    align-items: center;
}

.button-effect {
    transition: all 0.1s ease;
    cursor: pointer;
}

.button-effect:active {
    transform: scale(0.95);
  }
  
