<form class="center-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
        <label class="text-red-500 font-bold">{{errorMessage}}</label>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="username"
            [ngClass]="{'input-valid': isControlValid('username'), 'input-invalid': isControlInvalid('username')}">
        <small class="input-hint">Any nonempty string</small>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email"
            [ngClass]="{'input-valid': isControlValid('email'), 'input-invalid': isControlInvalid('email')}">
        <small class="input-hint">Format: xxx@xxx.xxx</small>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password"
            [ngClass]="{'input-valid': isControlValid('password'), 'input-invalid': isControlInvalid('password')}">
        <small class="input-hint">Not less than 8 symbols</small>
    </div>
    <div class="button-container">
        <button type="submit" [disabled]="registerForm.invalid" [ngClass]="{
            'valid-border': registerForm.valid, 
            'invalid-border': registerForm.invalid}">
            Register
        </button>
    </div>
</form>