<div class="flex justify-center items-center h-screen">
    <div class="container" style="width: 400px">
        <div class="space-y-6 px-4">
            <fieldset class="border p-4">
                <legend class="text-lg font-bold">Locals</legend>
                <div class="flex flex-col space-y-2">
                    <div class="flex items-center space-x-2 p-2">
                        <label for="audio" class="w-24">Audio:</label>
                        <input
                            type="file"
                            id="audio"
                            class="flex-grow border rounded"
                        />
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="subtitle" class="w-24">Subtitle:</label>
                        <input
                            type="file"
                            id="subtitle"
                            class="flex-grow border rounded"
                        />
                    </div>
                    <button
                        class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                    >
                        Use
                    </button>
                </div>
            </fieldset>

            <fieldset class="border p-4">
                <legend class="text-lg font-bold">S3</legend>
                <div class="flex flex-col space-y-2">
                    <div class="flex items-center space-x-2 p-2">
                        <label for="configuration" class="w-24"
                            >Configuration</label
                        >
                        <select
                            id="configuration"
                            class="flex-grow border rounded"
                        ></select>
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="endpoint" class="w-24"
                            >S3 Endpoint URL</label
                        >
                        <input
                            type="text"
                            id="endpoint"
                            [(ngModel)]="endpoint"
                            class="flex-grow border rounded"
                        />
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="bucketName" class="w-24">Bucket Name</label>
                        <input
                            type="text"
                            id="bucketName"
                            class="flex-grow border rounded"
                            [(ngModel)]="bucketName"
                        />
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="accessKey" class="w-24">Access Key</label>
                        <input
                            type="text"
                            id="accessKey"
                            class="flex-grow border rounded"
                            [(ngModel)]="accessKey"
                        />
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="secretKey" class="w-24">Secret Key</label>
                        <input
                            type="text"
                            id="secretKey"
                            [(ngModel)]="secretKey"
                            class="flex-grow border rounded"
                        />
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="configXmlPath " class="w-24"
                            >Configurational xml</label
                        >
                        <input
                            type="text"
                            id="configXmlPath"
                            [(ngModel)]="configXmlPath"
                            class="flex-grow border rounded"
                        />
                    </div>
                    <div class="flex items-center space-x-2 p-2">
                        <label for="languages" class="w-24"
                            >Translation language</label
                        >
                        <select
                            id="languages"
                            class="flex-grow border rounded"
                            [(ngModel)]="selectedLanguage"
                        >
                            <option
                                *ngFor="let key of getTranslationKeys()"
                                [value]="key"
                            >
                                {{ key }}
                            </option>
                        </select>
                        <button
                            class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                            (click)="onCheckButtonClick()"
                        >
                            Check
                        </button>
                    </div>
                    <div
                        class="flex justify-between items-center space-x-2 p-2"
                    >
                        <button
                            class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                        >
                            Add
                        </button>
                        <button
                            class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                            (click)="onUseButtonClick()"
                        >
                            Use
                        </button>
                    </div>
                </div>
            </fieldset>

            <!-- <fieldset class="border p-4">
                <legend class="text-lg font-bold">Google Drive</legend>
                <div class="flex items-center space-x-2 p-2">
                    <label for="GoogleConfigurationFile" class="w-24"
                        >Configuration xml</label
                    >
                    <input
                        type="text"
                        id="GoogleConfigurationFile"
                        [(ngModel)]="googleConfigXmlId"
                        class="flex-grow border rounded"
                    />
                </div>

                <div class="flex items-center space-x-2 p-2">
                    <label for="GoogleFileListFile" class="w-24"
                        >Filelist csv</label
                    >
                    <input
                        type="text"
                        id="GoogleFileListFile"
                        [(ngModel)]="googleFileListPath"
                        class="flex-grow border rounded"
                    />
                </div>

                <div class="flex items-center space-x-2 p-2">
                    <label for="GoogleDriveLanguages" class="w-24"
                        >Translation language</label
                    >
                    <select
                        id="GoogleDriveLanguages"
                        class="flex-grow border rounded"
                        [(ngModel)]="selectedLanguage"
                    >
                        <option
                            *ngFor="let key of getTranslationKeys()"
                            [value]="key"
                        >
                            {{ key }}
                        </option>
                    </select>
                    <button
                        class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                        (click)="onGoogleDriveLanguagesCheckButtonClick()"
                    >
                        Check
                    </button>
                </div>
                <div class="flex justify-between items-center space-x-2 p-2">
                    <button
                        class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                    >
                        Add
                    </button>
                    <button
                        class="self-end mt-2 px-4 py-2 bg-blue-500 text-white"
                        (click)="onGoogleDriveUseButtonClick()"
                    >
                        Use
                    </button>
                </div>
            </fieldset>

            <fieldset class="border p-4">
                <legend class="text-lg font-bold">Dropbox</legend>
            </fieldset> -->
        </div>
    </div>
</div>
