<div class="flex flex-wrap">

    <div class="block-container p-3 m-3 border border-solid border-gray-400 w-full">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_teacher_text_id" [(ngModel)]="optionsService.options.teacherFont.visibility"
                (ngModelChange)="optionsService.serialize()">
            <label for="cb_show_teacher_text_id" class="ml-2">Show teacher's text</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group [fontOptions]="optionsService.options.teacherFont" (fontChanged)="optionsService.serialize()"
                groupName="Teacher's font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400 w-full">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_teacher_translation_text_id"
                [(ngModel)]="optionsService.options.teacherTranslatedFont.visibility"
                (ngModelChange)="optionsService.serialize()">
            <label for="cb_show_teacher_translation_text_id" class="ml-2">Show teacher's text</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group [fontOptions]="optionsService.options.teacherTranslatedFont" (fontChanged)="optionsService.serialize()"
                groupName="Teacher's translation font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400 w-full">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_student_text_id" [(ngModel)]="optionsService.options.studentFont.visibility"
                (ngModelChange)="optionsService.serialize()">
            <label for="cb_show_student_text_id" class="ml-2">Show students's text</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group [fontOptions]="optionsService.options.studentFont" (fontChanged)="optionsService.serialize()"
                groupName="Students's font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400 w-full">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_student_translation_text_id"
                [(ngModel)]="optionsService.options.studentTranslatedFont.visibility"
                (ngModelChange)="optionsService.serialize()">
            <label for="cb_show_student_translation_text_id" class="ml-2">Show student's translation</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group [fontOptions]="optionsService.options.studentTranslatedFont" (fontChanged)="optionsService.serialize()"
                groupName="Students's translation font"></font-group>
        </div>
    </div>

    <fieldset class="block-container w-full p-3 m-3 border border-solid border-gray-400">
        <legend>Continuous lesson mode</legend>
        <div class="flex w-full md:w-1/2 mb-2">
            <label for="pause_before_phrase_id" class="ml-2 flex-1">Pause before phrase, s</label>
            <input type="number" id="pause_before_phrase_id" class="border border-solid border-black flex-1"
                [(ngModel)]="optionsService.options.continuousLessonOptions.pauseBeforePhrase"
                (ngModelChange)="optionsService.serialize()">
        </div>

        <div class="flex w-full md:w-1/2">
            <label for="pause_after_phrase_id" class="ml-2 flex-1">Pause after phrase, s</label>
            <input type="number" id="pause_before_phrase_id" class="border border-solid border-black flex-1"
                [(ngModel)]="optionsService.options.continuousLessonOptions.pauseAfterPhrase"
                (ngModelChange)="optionsService.serialize()">
        </div>

        <div>
            <digital-students-group
                [digitalStudent]="optionsService.options.continuousLessonOptions.digitalStudent"></digital-students-group>
        </div>

        <div>
            <on-real-student-answer-group
                [onRealStudentAnswer]="optionsService.options.continuousLessonOptions.onRealStudentAnswer"
                (realStudentChanged)="optionsService.serialize()"
                (ngModelChange)="optionsService.serialize()"></on-real-student-answer-group>
        </div>

    </fieldset>

</div>