<div class="flex flex-wrap">

    <div class="block-container p-3 m-3 border border-solid border-gray-400">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_teatcher_text_id" checked="true">
            <label for="cb_show_teatcher_text_id" class="ml-2">Show teacher's text</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group groupName="Teacher's font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_teatcher_translation_text_id" checked="true">
            <label for="cb_show_teatcher_translation_text_id" class="ml-2">Show teacher's translation</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group groupName="Teacher's translation font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_student_text_id" checked="true">
            <label for="cb_show_student_text_id" class="ml-2">Show students's text</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group groupName="Students's font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400">
        <div class="w-full md:w-1/2 p-3">
            <input type="checkbox" id="cb_show_student_translation_text_id" checked="true">
            <label for="cb_show_student_translation_text_id" class="ml-2">Show student's translation</label>
        </div>
        <div class="w-full md:w-1/2 p-3">
            <font-group groupName="Students's translation font"></font-group>
        </div>
    </div>

    <div class="block-container p-3 m-3 border border-solid border-gray-400">Continuous lesson mode
        <div class="w-full md:w-1/2">
            <label for="pause_before_phrase_id" class="ml-2">Pause before phrase, s</label>
            <input type="number" id="pause_before_phrase_id">
        </div>

        <div class="w-full md:w-1/2">
            <label for="pause_after_phrase_id" class="ml-2">Pause after phrase, s</label>
            <input type="number" id="pause_before_phrase_id">
        </div>

        <div class="block-container">Digital students
            <div class="w-full md:w-1/2">
                <label for="digial_students_number_id" class="ml-2">Number</label>
                <input type="number" id="digial_students_number_id">
            </div>

            <div class="w-full md:w-1/2">
                <label for="user_order_id" class="ml-2">Real student order</label>
                <input type="number" id="user_order_id">
            </div>
        </div>

        <div class="block-container">On real student answer
            <div class="w-full md:w-1/2">
                <input type="checkbox" id="signal_on_real_tudent_answer_id" checked="true">
                <label for="signal_on_real_tudent_answer_id" class="ml-2">Play signal</label>
            </div>

            <div class="w-full md:w-1/2">
                <input type="checkbox" id="open_audio_dialog_id" checked="true">
                <label for="open_audio_dialog_id" class="ml-2">Open speech recognition dialog</label>
            </div>

            <div class="block-container">
                <div class="w-full md:w-1/2">
                    <input type="checkbox" id="automatic_run_speech_recognition_id" checked="true">
                    <label for="automatic_run_speech_recognition_id" class="ml-2">Run speech recognition
                        automatically</label>
                </div>

                <div class="w-full md:w-1/2">
                    <label for="max_attempts_id" class="ml-2">Maximum attepts</label>
                    <input type="number" id="max_attempts_id">
                </div>

                <div class="w-full md:w-1/2">
                    <label for="max_error_id" class="ml-2">Maximum error</label>
                    <input type="number" id="max_error_id">
                </div>
            </div>



        </div>

    </div>

</div>