<div
    style="font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 1.5vw; display: flex; flex-direction: row; flex-wrap: wrap;">
    <div style="flex: 1 0 50%;" *ngFor="let part of parts">
        <p><a [href]="part.pdf">{{part.title}}</a> ({{formatTotalDuration(part)}})</p>        
        <ul style="padding-left: 30px;">
            <li *ngFor="let lesson of part.lessons">
                <a [routerLink]="['/Lesson', part.title, lesson.title]">{{lesson.title}}</a>
                &nbsp;&nbsp;&nbsp;
                <a [href]="lesson.mp3">mp3</a>
                &nbsp;&nbsp;&nbsp;
                ({{formatDuration(lesson.duration)}})
            </li>
        </ul>
    </div>
</div>
