@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-overlay-pane-class {
    /* opacity: 0.75; */
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    height: 50%;
    width: 100%;
    max-width: 100vw !important;
    border: 2px solid gray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
  } 

  .exit-overlay-pane-class {
    opacity: 0.9;
    position: absolute !important;
    left: 25%;
    top: 25%;
    height: auto;/* 50%;*/
    width: 50%;
    max-width: 100vw !important;
    border: 2px solid gray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
  } 

  .button-effect {
    transform: scale(0.95);
    transition: all 0.1s ease;
    cursor: pointer;
}

.pressed {
    transform: scale(0.75);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  }

