<form class="center-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>User</label>
        <input type="text" formControlName="username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password">
    </div>
    <hr class="divider">
    <div class="form-group">
        <label>Study Language</label>
        <select>
            <option value="English">English</option>
        </select>
    </div>
    <div class="form-group">
        <label>Translation Language</label>
        <select>
            <option value="Русский">Русский</option>
        </select>
    </div>
    <hr class="divider">
    <div class="button-container">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>