.center-form {
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-group select {
    flex-grow: 1;
    padding-left: 10px;
    border: 1px solid #000;
}

label {
    flex: none;
    width: 45%;
    margin-right: 5%;
    word-wrap: break-word;
}

input {
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #000;
}

input:focus {
    outline: none;
    border-width: 2px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.button-container button {
    margin: 0 10px;
    border: 1px solid #000;
    padding: 5px;
}

.divider {
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 10px;
}

.oidc-buttons {
    text-align: center;
}

.btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0 10px;
}

.fa-brands {
    font-size: 36px;
}

.input-valid {
    border: 1px solid green;
}

.input-invalid {
    border: 1px solid red;
}

.valid-border {
    border: 1px solid green !important;
}

.invalid-border {
    border: 1px solid red !important;
}

button:active {
    transform: scale(0.95);
}

.input-hint {
    color: #888;
    font-size: 12px;
}

.google-btn {
    background-color: #4285F4; /* Google Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between the icon and the text */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.google-btn:hover {
    background-color: #357ae8; /* A slightly darker blue for hover effect */
}

.google-btn:focus {
    outline: none;
}

.google-icon {
    /* You might need to adjust the size depending on your icon */
    width: 20px;
    height: 20px;
}

.google-text {
    font-size: 16px;
}
