.center-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    flex: none; /* отключаем flex: 1 */
    width: 80px; /* фиксированная ширина для лейблов */
    margin-right: 10px; /* отступ справа от лейбла */
  }
  
  input {
    flex-grow: 1; /* поля ввода будут занимать оставшееся пространство */
  }
  

  .button-container {
    display: flex;
    justify-content: center;
  }
  