.center-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-group select {
    flex-grow: 1;
    padding-left: 10px;
    border: 1px solid #ccc;
}

label {
    flex: none;
    width: 45%;
    margin-right: 5%;
    word-wrap: break-word;
}

input {
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: center;
    border: 1px;
    margin: 15px;
}

.divider {
    width: 100%;
    border: 1px solid #ccc;
}
